<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <!-- Le titre -->
    </title>
    <link href="css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

</head>

<body>
    <button id="reset" type="button">RESET</button>
<<<<<<< HEAD
=======
    <button id="circle" type="button">Cercle</button>
    <button id="square" type="button">Carré</button>
    <button id="ovale" type="button">Ovale</button>
    <button id="tri" type="button">Triangle</button>
    <button id="big_star" type="button">Grande étoile</button>
    <button id="small_star" type="button">Petite étoile</button>
>>>>>>> 5b0a219849796370c83465d5ec71b0dd80e09c8e
    <input id="user_color" type="color">
    <script type="text/javascript" src="script.js"></script>
</body>

</html>
